
.right{
    width: 115vw;
    height: 300px;
    transform-style: preserve-3d;
    background: linear-gradient(to left, white 70%, #b9b0b0);
    transform: translateX(48%) rotateY(-20deg);
    transform-origin: left center;
    display: grid;
    grid-template-columns: 13% 15% auto;
    grid-template-rows: 70% 30%;
    .image{
        display: flex;
        // background-color: black;
        justify-content: center;
        align-items:flex-end;
        img{
            height: 80%;
            width: 80%;
            border-radius: 50%;
        }
    }
    .detail{
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 50% 50%;
        .title{
            font-size: 18px;
            font-weight: 800;
            text-decoration: underline;
            text-align: center;
            color: #086264;
            align-self: end;
        }
        .about{
            grid-row-start: 2;
            text-align: center;
            color: lightseagreen;
            font-weight: bold;
        }
    }
    .post1{
        // background-color: red;
        grid-row-start: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .border1{
            font-size: 20px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 70%;
            border: black 2px solid;
            border-radius: 0%;
            transition: border-radius  0.6s;
            cursor: default;
            // transition: font-weight 0.6s;
            &:hover{
                border-radius: 20%;
                // font-weight: 500;
                transition: border-radius 0.6s;
                // transition: font-weight 0.6s;
            }
        }
    }
    .links{
        // background-color: purple;
        display: flex;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-inline: 8px;
            }
        }
        justify-content: left;
        // align-items:flex-end;
        grid-row-start: 2;
    }
  }
  .left{
    background: linear-gradient(to right, white 70%, #b9b0b0);
    width: 115vw;
    height: 300px;
    transform-style: preserve-3d;
    transform: translateX(-52%) rotateY(30deg);
    transform-origin: right center;
    display: grid;
    grid-template-columns: auto 15% 15%;
    grid-template-rows: 70% 30%;
    .detail2{
        grid-column-start: 2;
        // background-color: black;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 50% 50%;
        
        .title{
            display: flex;
            font-size: 18px;
            font-weight: 800;
            text-decoration: underline;
            text-align: center;
            color: #086264;
            align-self:flex-end;
            justify-content: center;
        }
        .about{
            display: flex;
            justify-content: right;
            grid-row-start: 2;
            text-align: center;
            color: lightseagreen;
            font-size: 13px;
            font-weight: bold;
        }
    }
    .image2{
        grid-column-start: 3;
        display: flex;
        // background-color: black;
        justify-content: center;
        align-items:flex-end;
        img{
            height: 80%;
            width: 80%;
            border-radius: 50%;
        }
        // background-color: darkcyan;
    }
    .links2{
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        justify-content: right;
        // background-color: red;
    }
    .post2{
        grid-row-start: 2;
        grid-column-start: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        .border2{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 70%;
            border: black 2px solid;
            border-radius: 0%;
            transition: border-radius  0.6s;
            cursor:default;
            // transition: font-weight 0.6s;
            &:hover{
                border-radius: 20%;
                // font-weight: 500;
                transition: border-radius 0.6s;
                // transition: font-weight 0.6s;
            }
        }
        // background-color: purple;
    }
  }
  
.first{
    .detail2{
        grid-template-rows: 75% 25%;
    }
}

@media (max-width:1000px) 
{
    .left{
        transform: translateX(-52%) rotateY(25deg);
        grid-template-columns: auto 18% 20%;
        // grid-template-rows: 65% 35%;
        .post2{
            .border2{
                height: 40%;
                width: 60%;
                font-size: 15px;
            }
        }
      .links2{
        display: block;
        ul{
            position: relative;
            // float: right;
            margin-top: 0%;
            display: flex;
                flex-direction: row;
        }
      }

    }
    .right{
        transform: translateX(48%) rotateY(-25deg);
        grid-template-columns: 15% 20% auto;
        .post1{
            .border1{
                height: 40%;
                width: 70%;
                font-size: 15px;
            }
        }
    }
    .first{
        .detail2{
            grid-template-rows: 60% 40%;
        }
    }
    .links{
        ul{
            display: flex;
            flex-direction: row;
        }
    }
}

@media (max-width:500px) {
    .left{
        transform: translateX(-54%) rotateY(15deg);
        height: 200px;
        grid-template-columns: auto 20% 20%;
        .detail2{
            grid-template-rows: 40% 60%;
            .title{
                font-size: 15px;
            }
            .about{
                font-size: 10px;
            }
        }
        .links2{
            ul{
                li{
                    margin-inline: 3px;
                    a{
                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        .post2{
            .border2{
                width: 80%;
                font-size: 10px;
            }
        }
    }
    .first{
        .links2{
            ul{
                display: block;
                justify-content: end;
                align-items: end;
                position: relative;
                bottom: 0%;
            }
        }
    }
    .senior{
        .detail2{
            .title{
                font-size: 12px;
            }
        }
    }
    .right{
        transform: translateX(46%) rotateY(-10deg);
        height: 200px;
        grid-template-columns: 20% 20% auto;
        .detail{
            grid-template-columns: 60%;
            grid-template-rows: 50% 50%;
            .title{
                font-size: 15px;
            }
            .about{
                font-size: 10px;
            }
        }
        .links{
            ul{
                li{
                    margin-inline: 3px;
                    a{
                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        .post1{
            .border1{
                width: 80%;
                font-size: 10px;
            }
        }
    }
}