@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Open sans;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightseagreen;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #057274;
}

html {
  width: 100%;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li .list-item {
  background: lightseagreen;
  text-align: center;
  height: 2.5em; /*  li-tags */
  width: 6em;
  line-height: 2.5em;
  position: relative;
  display: flow-root;
  text-decoration: none;
  box-shadow: 1em 1em #a3b2b2;
  transition: all 0.25s linear;
  color: white;
}
ul li .list-item:before, ul li .list-item:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
  background-color: darkcyan;
}
ul li .list-item:before {
  height: 6em;
  width: 0.5em;
  top: -0.25em;
  left: 3em;
  transform: rotate(90deg) skew(0deg, -50deg);
}
ul li .list-item:after {
  height: 2.7em;
  width: 0.5em;
  left: 6em;
  top: 0.15em;
  transform: skewY(30deg);
}
ul li .list-item:hover {
  background: #046264;
  color: white; /* float-up box face */
  transform: translate(-0.5em, -0.5em);
  transition: all 0.25s linear;
  box-shadow: 1em 1em 0 #a3b2b2;
  text-decoration: none;
  font-weight: 500;
}
ul li .list-item:hover::before, ul li .list-item:hover::after {
  transition: all 0.25s linear;
}
ul li .active {
  background-color: #046264;
}
ul li .active::before, ul li .active::after {
  background-color: #034142;
}
ul li .active:hover {
  background-color: lightseagreen;
}
ul li .active:hover::before, ul li .active:hover::after {
  background-color: darkcyan;
}

#coding {
  display: inline-block;
  width: 48%;
  height: 100px;
  top: 0em;
  margin-left: 55px;
  padding-top: 5px;
  font-family: Hacked, sans-serif;
  font-size: 70px;
  color: lightseagreen;
}
#coding #pundit {
  font-family: Hacked, sans-serif;
  -webkit-text-stroke: 1.5px lightseagreen;
  color: #fffff0;
}
#coding .Small {
  display: none;
}

.top {
  width: 100%;
  display: block;
  height: 80px;
  background: #ffffff;
  position: sticky;
  top: 0em;
  box-shadow: 5px 0px 5px gray;
  z-index: 20;
}
.top .desk {
  margin-top: 15px;
  margin-right: 70px;
  float: right;
  top: 0em;
}
.top .mobile {
  display: none;
}
.top:hover {
  box-shadow: 5px 0px 15px gray;
}

.code {
  display: none;
}

@media (max-width: 1000px) {
  #coding {
    margin-top: 7px;
    width: 36%;
    font-size: 55px;
    margin-left: 35px;
  }
  ul {
    width: 50%;
    margin-right: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 775px) {
  .code {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20%;
    right: 5%;
    cursor: pointer;
  }
  .top .desk {
    display: none;
  }
  .top .mobile {
    display: flex;
  }
  .top .mobile ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 67px;
    right: 0em;
    width: 26em;
    height: 4em;
    background-color: #ffffff;
  }
}
@media (max-width: 500px) {
  #coding {
    font-size: 45px;
    margin-left: 20px;
  }
  .top .mobile ul {
    flex-direction: column;
    right: 5em;
    width: 3em;
    height: 10em;
  }
  * ::-webkit-scrollbar {
    display: none;
  }
}/*# sourceMappingURL=navbar.css.map */