
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Open sans;
}
::-webkit-scrollbar{
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightseagreen; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #057274; 
}

html{
  width: 100%;
}
// body{
//   /* height: 100%; */
//   width: 100%;
//   &::-webkit-scrollbar-track{
//     background-color: #83d1d3;
//   }
//   &::-webkit-scrollbar-thumb{
//     background-color: #068385;
//     border-radius: 6px;
//     border: 3px solid #83d1d3;
//   }
// }
ul{
  list-style: none;
  margin-top: 50px;
  margin-right: 70px;
  float: right;
  top: 0em;
}
li{
  display: inline-block;
}
.list-item {
  background: lightseagreen;
  text-align: center;
  height: 3em;           /*  li-tags */
  width: 5em;
  line-height: 2.5em;
  position: relative;
  display:flow-root;
  text-decoration: none;
  box-shadow: 2em 1.5em #a3b2b2;
  transition: all 0.25s linear;
  color: white;

  &:hover {
    background: #046264;
    color: white;         /* float-up box face */
    transform: translate(-0.5em, -0.5em);
    transition: all 0.25s linear;
    box-shadow: 2em 1em 0 #a3b2b2;
    text-decoration: none;
  }
  &:hover:after, &:hover:before{
    transition: all 0.25s linear;
  }

  &:hover:before {
    background: #034142;
    width: 0.6em;               /* float-up box right side */
    top: 0.7em;
    left: 2.6em;
    height: 5.1em;
  }

  &:hover:after {
    background: #034142;
    width: 0.6em;
    left: 5em;
    height: 3em;
    top: 0.2em;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    transition: all 0.25s linear;
    width: 0.5em;
    background-color: darkcyan;
  }

  &:after {
    height: 3em;
    width:0.6em;
    left: 5em;
    top: 0.25em;
    transform: skewY(40deg);
  }

  &:before {
    height: 5em;
    width: 0.5em;
    top: 0.75em;
    left: 2.6em;
    transform: rotate(90deg) skew(0deg,-50deg); 
  }
}
#coding{
  display: inline-block;
  width: 48%;
  height: 100px;
  text-align: center;
  top: 0em;
  left: 35px;
  justify-items: center;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 2.5px lightseagreen;
  #pundit{
    color: lightseagreen;
  }
}

.top{
  height: 300px;
  width:100%;
  display: block;
  height: 150px;
  background:   rgba($color: #f1f1f1, $alpha: 0.9);
  position: sticky;
  top: 0em;
  // box-shadow: 5px 5px gray;
  z-index: 20;
  // border-bottom: 5px black solid;
}
button{
  float: left;
  top: 5em;
  height:30px;
  width:30px;
  border: none;
  background-color: var(--color-butt);
  color: var(--color-buttte);
}

@media (max-width: 1000px) {
  #coding{
    width: 36%;
    font-size: 60px;
  }
  ul{
    width:50%;
    margin-right: 0px;
    margin-top: 20px;
  }

}
