
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Open sans;
}
::-webkit-scrollbar{
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightseagreen; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #057274; 
}

html{
  width: 100%;
}
// body{
//   /* height: 100%; */
//   width: 100%;
//   &::-webkit-scrollbar-track{
//     background-color: #83d1d3;
//   }
//   &::-webkit-scrollbar-thumb{
//     background-color: #068385;
//     border-radius: 6px;
//     border: 3px solid #83d1d3;
//   }
// }
ul{
  list-style: none;
  margin-top: 15px;
  margin-right: 70px;
  float: right;
  top: 0em;
  li{
    display: inline-block;
    .list-item {
      background: lightseagreen;
      text-align: center;
      height: 2.5em;           /*  li-tags */
      width: 6em;
      line-height: 2.5em;
      position: relative;
      display:flow-root;
      text-decoration: none;
      box-shadow: 1em 1em #a3b2b2;
      transition: all 0.25s linear;
      color: white;
    

      &:before, &:after {
        content: "";
        position: absolute;
        transition: all 0.25s linear;
        width: 0.5em;
        background-color: darkcyan;
      }

      &:before {
        height: 6em;
        width: 0.5em;
        top: -0.25em;
        left: 3em;
        transform: rotate(90deg) skew(0deg,-50deg); 
      }
      &:after {
        height: 2.7em;
        width:0.5em;
        left: 6em;
        top: 0.15em;
        transform: skewY(30deg);
      }
      &:hover {
        background: #046264;
        color: white;         /* float-up box face */
        transform: translate(-0.5em, -0.5em);
        transition: all 0.25s linear;
        box-shadow: 1em 1em 0 #a3b2b2;
        text-decoration: none;
      }
      &:hover:after, &:hover:before{
        transition: all 0.25s linear;
      }
    
      // &:hover:before {
      //   background: #034142;
      //   width: 0.6em;               /* float-up box right side */
      //   top: 0.7em;
      //   left: 2.6em;
      //   height: 5.1em;
      // }
    
    //   &:hover:after {
    //     background: #034142;
    //     width: 0.6em;
    //     left: 5em;
    //     height: 3em;
    //     top: 0.2em;
    //   }
    
    }
    .active{
      background-color: #046264;
      &::before,&::after{
        background-color: #034142;
      }
      &:hover{
        background-color: lightseagreen;
      }
      &:hover::before,&:hover::after{
        background-color: darkcyan;
      }
    }
  }
}



#coding{
  display: inline-block;
  width: 48%;
  height: 100px;
  text-align: center;
  top: 0em;
  left: 35px;
  justify-items: center;
  padding-top: 5px;
  font-family: Hacked, sans-serif;
  font-size: 70px;
  color: lightseagreen;
  // -webkit-text-stroke: 2.5px lightseagreen;
  #pundit{
  //   color: lightseagreen;
   font-family: Hacked, sans-serif;
  -webkit-text-stroke: 1.5px lightseagreen;
  color: white;

  }
}

.top{
  // height: 100px;
  width:100%;
  display: block;
  height: 12vh;
  background:   #f1f1f1;
  position: sticky;
  top: 0em;
  box-shadow: 5px 0px 5px gray;
  z-index: 20;
  // border-bottom: 5px black solid;
  &:hover{
    box-shadow: 5px 0px 15px gray;
  }
}

@media (max-width: 1000px) {
  #coding{
    width: 36%;
    font-size: 60px;
  }
  ul{
    width:50%;
    margin-right: 0px;
    margin-top: 20px;
  }

}
