
.non-display{
    display: none;
}

.message{
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 60vh;
   
    h1{
        display: flex;
        justify-content: center;
        // text-align: center;
        align-items: center;
        color: black;
    }
}
.console{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}