 .top1{
padding: 15px;
background-image: url(../Components/img&vid/card1.jpg);
background-repeat: no-repeat;
float:right;
height: 370px;
width:350px;
margin-right: 30px;
/* clip-path: circle(50% at 50% 50%); */
 }
 #top2{
    padding: 6rem;
    /* padding-top: 40rem; */
    
 }
 #text2{
    text-align: left;
    line-height: 1.8;
    padding-top: 50px;

 }

#toptext{
    padding-left: 35%;
    padding-top: 10px;
    font-weight: bolder;
}
 .card{
     width: 20rem;
 }
 .card:hover{
     box-shadow: 5px 10px 1px #40696b!important;
 }
 .card-body{
     padding: 3rem 0 !important;
 }
 .card-text{
     font-size: o.9rem;
     padding: 0.4rem 1.9rem;
 }
 .container-fluid .row{
     padding-top: 6rem;
     padding-bottom: 10rem;
 }
 .card-img-top{
     transform: scale(1);
 }
 .card-img-top:hover{
     transform: scale(1.8);
 }
 .overflow{
     overflow: hidden;
 }